<div class="form-group">
  <%= profile.label :twitter_name %>
  <%= profile.text_field :twitter_name, class: "form-control" %>
</div>

<div class="form-group">
  <%= profile.label :github_name %>
  <%= profile.text_field :github_name, class: "form-control" %>
</div>
