<div class="form-group">
  <%= artist.label :name, "Artist Name" %>
  <%= artist.text_field :name, class: "form-control" %>
</div>

<h3>Producer Details</h3>

<%= artist.fields_for :producer do |producer_fields| %>
  <%= render "producer", producer: producer_fields %>
<% end %>
