<div class="nested-fields project-tag-fields">
  <div id="tag_from_list">
    <%= f.collection_select :tag_id, Tag.order(:name), :id, :name, :prompt => 'Choose an existing tag' %>
  </div>
  <%= link_to_add_association 'or create a new tag', f, :tag, :render_options => { :wrapper => 'inline' } %>
  <%= link_to_remove_association "remove tag", f %>
</div>
